@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Arial";
}

nav {
  background-color: #be3144;
  height: 10vh;
}

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  margin-right: 2rem;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  font-size: 1.2rem;
}

#navbar ul li a:hover {
  color: burlywood;
}

#welcome-section {
  height: 100vh;
  background-color: #262629;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-section > h1 {
  color: white;
  font-size: 5rem;
  align-self: center;
}

#welcome-section > p {
  color: #862e3b;
  font-size: 3rem;
  align-self: center;
}

#projects {
  background-color: #45567d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects > h2 {
  font-size: 3rem;
  padding: 1rem;
  color: white;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.projects-grid > a {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

img {
  display: block;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.projects-grid > a > p {
  font-size: 1.4rem;
  text-align: center;
  background-color: #262629;
  color: white;
  padding: 1rem;
}

.project .code {
  opacity: 0;
}
.project:hover .code {
  opacity: 1;
  animation: opacity 1s;
}

.btn-show-all {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #262629;
  color: white;
  text-decoration: none;
}

#contact {
  background-color: #262629;
  /* height: 40vh; */
  padding: 4rem 1rem;
  border-bottom: 5px solid #be3144;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section-header > h2 {
  font-weight: 300;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.contact-section-header > p {
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.contact-links {
  margin-top: 1.4rem;
}

.contact-links .btn {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1.4rem;
}

footer {
  background-color: #262629;
  display: flex;
  justify-content: space-around;
}

footer > * {
  padding: 1.8rem;
}

footer > p {
  color: white;
  font-size: 1.2rem;
}

footer > p > a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  #welcome-section > h1 {
    font-size: 2.4rem;
  }

  #welcome-section > p {
    font-size: 1.4rem;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #projects > h2 {
    font-size: 1.5rem;
  }

  .projects-grid > a > p {
    font-size: 0.8rem;
  }
  .contact-links {
    display: flex;
    flex-direction: column;
  }

  .contact-links .btn {
    margin: 1rem auto;
  }

  footer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
